body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100% 40%;
}

h1 {
    font-family: comic sans MS;
    font-size: 60px;
    color: darkblue;
    text-align: center;
}

h3 {
    text-align: center;
    letter-spacing: -1px;
}

h4 {
    text-align: center;
    font-style: italic;
}

.ig {
    color: red;
    font-variant: small-caps;
}

.ig:hover {
    color: red;
    text-decoration: none;
}

.fb {
    text-decoration: none;
    font-weight:bold ;
}

.fb:hover {
    color: white;
    background-color: blue;
}

.p1 {
    color: orange;
    text-align: center;
}

.p2 {
    text-align: right;
    line-height: 200%;
}